@import '~bootstrap/dist/css/bootstrap.min.css';

@import './vendor.css';
@import './flex';


[ng-click] {
    cursor: pointer;
}

.angular-google-map-container {
    height: 800px;
}

.product {

    .thumbnail {
        height: 480px;
    }

    h3 {

        font-size: 15px;
    }


    .caption {
        padding: 5%;
    }

    .product-details {
       height: 110px;

    }

}

.product-order-modal {

    h3 {
        span {
            color: #B94A48;
        }

    }

    input[number] {
        font-size: large;
    }


}