<div class="dashboard_graph x_panel">
    <div class="row x_title">
        <div class="col-xs-12">
            <h3>Map</h3>
        </div>
    </div>
    <div class="x_content">

        <h2>Display/hide:</h2>

        <ul class="list-inline">
            <li ng-repeat="collection in vm.collections">
                <strong ng-hide="collection.hide" ng-click="collection.hide = !collection.hide">{{ collection.streetName }}</strong>
                <span ng-show="collection.hide" ng-click="collection.hide = !collection.hide">{{ collection.streetName }}</span>
            </li>
        </ul>

        <hr>

        <ui-gmap-google-map center="vm.map.center" zoom="vm.map.zoom">
            <ui-gmap-polyline ng-repeat="p in vm.polylines" path="p.path" stroke="p.stroke" visible="p.visible" geodesic="p.geodesic" fit="false" icons="p.icons"></ui-gmap-polyline>

            <ui-gmap-marker idKey="vm.base.id" coords="vm.base.coords" options="vm.base.options"></ui-gmap-marker>
        </ui-gmap-google-map>

    </div>
</div>
