<div class="clearfix">
    <div class="pull-left">
        <h1>Port Services</h1>
    </div>
    <div class="pull-right text-right">
        <h2>Balance: £{{ vm.balance }}</h2>
    </div>
</div>

<div class="row">
    <div ng-repeat="product in vm.products | orderBy:'category_name'" class="col-md-4 col-sm-4 col-xs-4">
        <div class="col-sm-12 col-md-12 product">
            <div class="thumbnail">
                <img ng-src="{{ product.image }}" class="img-responsive">
                <div class="caption">
                    <div class="row">
                        <div class="col-md-12 col-xs-12 product-details">
                            <h3 class="text-center">{{product.name}}</h3>
                            <p>{{product.description}}</p>
                        </div>
                        <div class="col-md-12 col-xs-12 price text-center">
                            <h3>{{product.version}}</h3>

                        </div>
                    </div>
                    <div class="row">
                        <button type="button" ng-click="vm.open(product.Id)" class="btn btn-primary btn-warning btn-block">Buy</button>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>

