<script type="text/ng-template" id="amount-modal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title-service">The {{name}} modal!</h3>
    </div>
    <div class="modal-body" id="modal-body-service">
        Having multiple modals open at once is probably bad UX but it's technically possible.
    </div>
</script>


<h1 class="text-center"> Port Services </h1>

<div class="row">
    <div ng-repeat="product in vm.products | orderBy:'category_name'" class="col-md-4 col-sm-4 col-xs-4">
        <div class="col-sm-12 col-md-12 product">
            <div class="thumbnail">
                <img src="{{product.image}}" class="img-responsive">
                <div class="caption">
                    <div class="row">
                        <div class="col-md-12 col-xs-12 product-details">
                            <h3 class="text-center">{{product.name}}</h3>
                            <p>{{product.description}}</p>
                        </div>
                        <div class="col-md-12 col-xs-12 price text-center">
                            <h3>{{product.version}}</h3>

                        </div>
                    </div>
                    <div class="row">


                        <button type="button"  ng-click="vm.open(product.Id)" class="btn btn-primary btn-warning btn-block"> <span glyphicon glyphicon-shopping-cart></span> Buy</button>



                    </div>

                    <p></p>
                </div>
            </div>
        </div>


    </div>

</div>

